.wrapper-not-found{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wrapper-not-found h1{
	font-size: 65px;
	font-weight: 700;
}

.wrapper-not-found p{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 24px;
}