.wrapper-sidebar-admin{
	width: var(--width-sidebar-admin);
	height: 100vh;
	padding: 0 16px 8px;
	background-color: #DDDDDD;
	transition: all .3s;
}

.wrapper-sidebar-client{
	width: 240px;
	height: 70vh;
	transition: all .3s;
}

.wrapper-sidebar-active{
	width: 80px;
	height: 100vh;
	padding: 0 16px 8px;
	background-color: #DDDDDD;
	transition: all .3s;
}

.wrapper-sidebar-active .item-nav-link-title{
  display: none;
}

.wrapper-sidebar-active .item-nav-link-icon span svg{
	width: 24px ;
	height: 24px;
}

.wrapper-sidebar-active .sidebar-logo{
  display: none;
}

.wrapper-sidebar-active .sidebar-bar{
  margin: 0 auto;
}

.sidebar-top{
	height: var(--height-header-admin);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebar-logo{
	color: var(--primary-color);
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

.sidebar-bar{
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.item-nav-link{
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border-radius: 8px;
	margin-bottom: 12px;
}

.item-nav-link:hover{
	background-color: var(--hover-color);
	color: white;
}

.item-nav-link-icon{
	width: 24px;
	height: 24px;
}

.item-nav-link-icon svg{
	width: 24px;
	height: 24px;
}

.item-nav-link-icon path{
  fill: var(--primary-color);
}

.item-nav-link:hover .item-nav-link-icon path{
  fill: white;
}

.menu-item-link-active .item-nav-link{
	background-color: var(--primary-color);
	color: white;
}

.menu-item-link-active .item-nav-link-icon path{
  fill: white;
}

.menu-item-link-active .item-nav-link-icon{
	position: relative;
}

.item-nav-link-title-sub{
	display: none;
}

.item-nav-link-title{
  margin-left: 12px;
	font-size: 14px;
}

.sidebar-menu{
	overflow-y: hidden;
	height: calc(100vh - var(--height-header-admin) - 12px);
	margin-top: 12px;
}

.sidebar-menu:hover{
  overflow: overlay;
}