/* Head page of admin */

.wrapper-filter-page-admin{
	margin-bottom: 12px;
}

.wrapper-head-page{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
	height: 32px;
}

.head-page-left{
	display: flex;
	align-items: center;
}

.head-page-right{
	margin-right: 24px;
	position: absolute;
	top: 80px;
	right: 20px;
}

.head-page-title{
	word-wrap: break-word;
	font-size: 18px;
	font-weight: 600;
	overflow-wrap: break-word;
	word-break: break-word;
}

.wrapper-page-admin-back{
	margin-right: 12px;
}

/* Header to save info product of website */

.wrapper-header-save-info-admin{
	background-color: #04293A;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 99;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
	border-bottom: 2px dashed #1677ff !important;
  }
  
  #components-table-demo-drag-sorting tr.drop-over-upward td {
	border-top: 2px dashed #1677ff !important;
  }
