.wrapper-auth{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-auth{
  background-color: #ffffff;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
  border-radius: 4px;
  padding: 24px;
}

.auth-header{
  text-align: center;
  margin-bottom: 48px;
}

.sign-in-icon {
  cursor: pointer;
  border: 1.5px #b4abab solid;
  border-radius: 8px;
  padding: 12px 24px;
  margin-bottom: 12px;
  position: relative;
}

.form-border-right {
  border-right-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
  margin: 0 48px;
}

.auth-header p {
  margin: 12px 0;
  font-size: 16px;
}

.wrapper-sign-in-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.wrapper-auth-admin{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-forgot-password{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 24px;
}

.custom-login-icon{
  border: 1.5px solid #dce0e3;
  border-radius: 8px !important;
}

.custom-login-icon button{
  box-shadow: none !important;
  border-radius: 8px !important;
  height: 40px !important;
  margin: 4px auto !important;
  width: auto !important;
  background: none !important;
  color: black !important;
}

.custom-login-icon:hover{
  background-color: #dce0e3;
}

.custom-login-icon-facebook button svg path{
  fill: rgb(59, 89, 152);
}

.custom-login-icon span{
  text-align: center;
  font-size: 16px;
}

/* .auth-content{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
